* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #a4a4a5;  /* #5C687C */
  display: flex;
  border: 2px dashed red;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-basis: 268px;
  border: 2px solid yellow;
}

.menu-container {
  display: flex;
  flex-basis: 500px;
  border: 2px solid green;
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}